---
title:  Work Portfolio
show_skills: true
permalink: list/portfolio.html
---

<div class="d-md-block d-lg-none mb-3">
    {% include components/all-skills.html %}
</div>

<div id="currently-showing">
    <h2 class="d-flex align-items-center mb-3">
        <span class="text-secondary mr-2">Showing everything matching:</span>
        <span class="border rounded p-2 mr-2 bg-light text-secondary" id="active-skill"></span>
        <a class="btn btn-primary btn-small" href="javascript:void(0)" onclick="clearSkills()">clear</a>
    </h4>
</div>

{% assign sorted = site.portfolio | reverse %}

{% for portfolio in sorted %}
    {% include components/portfolio-card.html %}
{% endfor %}

<script type="text/javascript">

    var parseHash = function() {
        if (document.location.hash.length > 0) {
            var skill = document.location.hash.slice(1)
            var name = $(".skill-" + skill).first().text()
            showPortfolioBySkill(skill, name)
        }
        else {
            clearSkills()
        }
    }

    $(document).ready(parseHash)

    $(window).on('hashchange', parseHash)

    var showPortfolioBySkill = function(skill, name) {
        $("#currently-showing").show()
        $(".card-portfolio").hide()
        $(".skill").removeClass("bg-warning")
            .addClass("bg-white")
            .removeClass("text-dark")
        $(".card-portfolio").each(function(idx, card) {
            var matches = $(card).find(".skill-" + skill)
            if (matches.length > 0) $(card).show()
        })
        $(".skill-" + skill).removeClass("bg-white")
            .addClass("bg-warning")
            .addClass("text-dark")
            .blur()
        $("#active-skill").html(name)
    }

    var clearSkills = function() {
        $("#currently-showing").hide()
        $(".card-portfolio").show()
        $(".skill").removeClass("bg-warning")
            .addClass("bg-white")
            .removeClass("text-dark")
        document.location.hash = ""
    }

</script>


