---
layout: defaults/list
title: Posts by tag
permalink: list/tags.html
show_profile: false
show_tags: true
---

{% include utilities/group-by-array.html collection=site.posts field="tags" %}

<div>

    {% for tag in group_names %}

        {% assign posts = group_items[forloop.index0] %}

        <div class="panel" id="panel-{{ tag | slugify }}">
            <h2 class="text-secondary mt-4">
                Posts tagged:
                <span class="border rounded d-inline-block bg-light p-2">{{ tag }}</span>
            </h2>

            {% for post in posts %}
                {% include components/post-card.html %}
            {% endfor %}
        </div>

    {% endfor %}

</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".panel").hide()
        if (document.location.hash.length > 0) {
            var tag = document.location.hash.slice(1)
            $("#panel-" + tag).show()
        }
    })
</script>