<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% if page.title %}
            {{ page.title }} &middot; {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <script src="{{ site.baseurl }}/theme/js/jquery-3.4.1.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/bootstrap-4.4.1.bundle.min.js"></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/site.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/syntax.css">

</head>
