{% include utilities/group-by-array.html collection=site.posts field="tags" %}

<div class="sticky-top space-before">
    <div class="card bg-light">
        <div class="card-body p-2">
            <div class="card-title">
                <h5>Filter by Tag</h5>
            </div>
            {% for tag in group_names %}
                <a class="d-inline-block bg-white border rounded p-1 mr-1 mb-1 tag tag-{{ tag | slugify }}"
                   href="#{{tag | slugify}}">
                    {{ tag }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>