{% include utilities/group-by-array.html collection=site.portfolio field="skills" %}

<div class="sticky-top space-before">
    <div class="card bg-light">
        <div class="card-body p-2">
            <div class="card-title">
                <h5>Filter by Skill</h5>
            </div>
            {% for skill in group_names %}
                <a class="d-inline-block bg-white border rounded p-1 mr-1 mb-1 skill skill-{{ skill | slugify }}"
                   href="#{{ skill | slugify }}">
                    {{skill}}
                </a>
            {% endfor %}
        </div>
    </div>
</div>