<div class="card card-portfolio w-100 border-top-0 border-left-0 border-right-0 rounded-0 mb-3">
    <div class="card-body px-0 pt-0 pb-2">
        <h4 class="card-title mb-4">
            <a href="{{ site.baseurl }}{{ portfolio.url }}">{{ portfolio.title }}</a>
             <span class="badge badge-success float-right">{{ portfolio.duration }}</span>
        </h4>
        <h6 class="card-subtitle mb-3 text-secondary">
            {{ portfolio.role }}
        </h6>
        <div class="card-text d-flex">
            <b class="text-nowrap mb-1 mr-2 py-1">Skills:</b>
            <div>
                {% for skill in portfolio.skills %}
                    <span class="d-inline-block border rounded p-1 mr-1 mb-1 skill skill-{{ skill | slugify}}">
                        {{skill}}
                    </span>
                {% endfor %}
            </div>
        </div>
        <a href="{{ site.baseurl }}{{ portfolio.url }}">More...</a>
    </div>
</div>