<div class="card card-post w-100 border-top-0 border-left-0 border-right-0 rounded-0 mb-4">
    <div class="card-body px-0 pt-0">
        <h4 class="card-title mb-4">
            <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
        </h4>
        <h6 class="card-subtitle mb-3 text-secondary">
            {{ post.date | date_to_string }}
        </h6>
        <div class="card-text d-flex align-items-center mb-2">
            <span class="icon grey mr-2 mb-1">
                {% include entypo/price-tag.svg %}
            </span>
            <div>
                {% for tag in post.tags %}
                    <span class="d-inline-block border rounded p-1 mr-1 mb-1 tag tag-{{ tag | slugify}}">
                        {{ tag }}
                    </span>
                {% endfor %}
            </div>
        </div>
        <div class="card-text mb-0">
            {{ post.excerpt }}
        </div>
        <a href="{{ post.url | absolute_url }}">More...</a>
    </div>
</div>