<p class="card-text d-none d-sm-block">
    <a href="{{site.baseurl}}{% link index.md %}">
        <img class="profile-image rounded-circle w-75"  src="{{ site.baseurl }}{{ site.profile }}" />
    </a>
</p>
<h4 class="card-title d-none d-sm-block">{{site.name}}</h4>

<p class="card-text d-xs-flex d-sm-none">
    <a href="{{site.baseurl}}{% link index.md %}">
        <img class="profile-image rounded-circle mr-2" src="{{ site.baseurl }}{{ site.profile }}" style="width: 15% !important" />
    </a>
    <strong>Simon Freytag</strong>
</p>